body {
    margin: 10;
    padding: 10;
    background: #000;                  /* crna pozadina */
    font-family: Arial, sans-serif;
    display: flex;                     /* centriranje */
    justify-content: center;           /* horizontalno */
    align-items: center;               /* vertikalno */
    height: 50vh;
                     /* cijeli ekran */
}

.container {
    
    width: 450px;
    background: #f0e7f1;                  /* bijeli container */
    padding: 60px;
    border-radius: 0,5px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25); /* blaga sjena */
}


img{
    align-content: center;
}
button{
    background-color: blue;
    align: center;
}
