body{
background-color: black;
text-align: center;
font-family:  'Arial', sans-serif;
margin-top  2px; 
font-weight: bold; 
}
.container{
position: top;
height: 100px;
width: 100%;
background-color: rgb(46, 42, 39);
}
.container2{  
margin-top: 50px;
height:280px;
width: 100%;
background-color: rgb(15, 15, 15);
}


h1{
color: white; 
font-size: 50px;
margin-bottom: 25px;         
}
p{
color: white;
font-size: 20px;
}
button{
background-color: orange;   
color: rgb(15, 15, 15);
font-weight: bold;
font-size: 12px;
padding: 10px 20px;
border-radius: 0.5em;
}

h2{
margin-top: 5px;
position: absolute; left:50px;
font-size: 20px; color: orange;
}   
h3{
font-size: 55px; 
color: rgb(8, 8, 8);
text-align: center;
}
h4{
font-size: 20px; 
color: rgb(8, 8, 8);    
}

p {
font-size: 14px; 
color: rgb(105, 101, 101);
}

.container3{
height: 1500px;
margin-top: 50px;   
width: 100%;
background-color: rgb(243, 239, 239); 



}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    color: blanchedalmond;}
.box{
    border: 1px rgb(211, 201, 201) solid; 
    display: inline-block;
  
    height: 180px;
    width:280px;
    background-color: rgb(227, 221, 228);  
    border-radius: 0.5rem;
    text-align: left;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
   
.box2{
    float:left;
    margin: 25px;
    border: 1px rgb(243, 239, 239) solid; 
    display: inline-block;
    margin top: 20px;   
    background-color: rgb(240, 240, 240);  
    text-align: left;
   
}
table{
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  
}
td, th{
    border: 1px solid #868282;
    padding: 8px;
    
}