body {
    margin: 10;
    padding: 10;
    background: #0f0f0f;                
    font-family: Arial, sans-serif;
    display: flex;                     /* centriranje */
    justify-content: center;           /* horizontalno */
    align-items: center;               /* vertikalno */
    height: 70vh;
                     /* cijeli ekran */
}

.container {
    
   margin-left: 290px; 
    width: 650px;
    background: #cac5ca;                  /* bijeli container */
    padding: 90px;
    border-radius: 2,5px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25); /* blaga sjena */
}




button{
    background-color: blue;
    
    
}
