:root{
    --main-color: #97311e;
    --secondary-color: #e0d1b4;
   --font-family: 'Times New Roman', Times, serif;
} 
body{
      text-align: center;
    background-color: var(--secondary-color);
   color: var(--main-color);
       font-weight: bold;
    font-size: 40px;
}
p{
    font-size: 30px
   var(--font-family), italic;
    color: rgb(94, 90, 90);
}
h2{
    color: var( --main-color);
    margin-top: 20px;
    margin-bottom: 30px;
    row-gap: 1.2em;

}
.container{
    width:100%;
    border: 5px solid var(--main-color);
    border-radius: 1rem;
    padding: 20px;
    color: var(--main-color);
}
button{
    background-color: var(--main-color);
    color:white;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 20px
    cursor: pointer;
   
    }
   

