.container{
    display: grid;
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c d"
    "e e d"
    "f f f";
    row-gap: 1rem;
    column-gap: 1rem;
    }

.a{grid-area: a;}  /*naredba koje slovo ide u koje mjesto*/
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}
.f{grid-area: f;}

    div{border: none;}
.podrucje{
    min-height: 10px;
    border: 2px solid blue;
}