:root{
    margin: 20px;
    padding: 3.5 rem;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    background-color: black;
     border-color: black;   
 

   

}

body {
    display: grid;
    sizing: border-box;
  
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 120px auto 120px;
    height: 100vh;
     
  
   
}

.p1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: #e74c3c;
    text-align: center;
    padding-top: 35px;
    font-size: 24px;
    border-color: black;
}

.p2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: #3498db;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;

}

.p3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: #ffffff;
    position: relative;
    border: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
     border-color: black;

}


.s1 {
    height: 40px;
    background: #f1c40f;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
   
}

.s2 {
    height: 40px;
    width: 45%;
    background: #e67e22;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    
}

.s3 {
    height: 40px;
    width: 45%;
    background: #1abc9c;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    align-self: flex-end;
    
}

.p4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: #8e44ad;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
   
}

.p5 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background: #2ecc71;
    text-align: center;
    padding-top: 35px;
    font-size: 24px;
   
}
