body{
    background-color: #f0f1f0;
}

table,td,th{
    border: 1px solid blue;
    border-collapse: collapse; /*maknio mi je sa ovim dvostruki okvir*/
}

table{
    width: 100vh; /*proširili smo podrucje u tablici tj okvira svakog okvira*/
}

th{
    background-color: antiquewhite;
    font-weight: normal; /*pošto j ebold u normali pa resitiram bold ovi me*/
    text-transform: uppercase; /* ovim stavi velika slova po defoltu su pisana tj mala*/
    font-family: sans-serif;
}

tbody tr:hover{   
background-color: aqua; /*poplavi podrucje kako mrdas misa postranici*/
}
/*desno da budu djeca svaki njegov red tj first child text al9ign*/

tbody tr:{  /*first child bi bio ispred zagrade bi bio prvo red tipa gdje je 2025*/
    text-align: right;
} 
caption{
    caption-side: bottom;
} 

